body, input {
	font-family: 'Squada One', sans-serif;
	font-size: 28px;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin: -100px 0 0 -200px;
	text-align: center;
}

#message {
	font-size: 20px;
	padding: 30px 0 5px 0;
}

#time {
	font-size: 20px;
}

.error {
}

#player {
	position: absolute;
	left: -1000px;
}